!!!
%html
  %head
    %title Configuration
    %link{rel: "stylesheet", href: "../vendor/bootstrap/css/bootstrap.min.css"}
    %link{rel: "stylesheet", href: "../vendor/highlight/styles/github.css"}
    %script{src: "../vendor/jquery/jquery.min.js"}
    %script{src: "../vendor/bootstrap/js/bootstrap.min.js"}
    %script{src: "../vendor/marked/marked.min.js"}
    %script{src: "../vendor/highlight/highlight.pack.js"}
    %script{src: "../js/options.js"}
  
  %body
    %form{id: "form"}
      .container
        .panel.panel-default
          .panel-heading
            %h1.panel-title Configuration
          .panel-body      
            .row
              .col-md-10
                #saved.alert.alert-success.hide
                  Configurations are saved successfully.
                  %a#hide-message.pull-right{href: "#"} &times;
              .col-md-2
                %input#save.btn-lg.btn-primary.pull-right{type: "submit", value: "Save"}

            .panel.panel-default
              .panel-heading
                %h2.panel-title Repository Information
              .panel-body
                %label{for: "repositories"} Repository name
                %textarea.form-control#repositories{rows: "6"}

            .panel.panel-default
              .panel-heading
                %h2.panel-title Template
              .panel-body.row
                .for-all-developers.col-md-10
                  .panel.panel-default
                    .panel-heading
                      %label{for: "title"} Title
                    .panel-body
                      %input.form-control#title{type: "text", size: "20"}
                  .panel.panel-default
                    .panel-heading
                      %label{for: "body"} Body
                    .panel-body.row
                      .col-md-6
                        %textarea.form-control#body{rows: "15"}
                      #preview.col-md-6
                .for-contributers.col-md-2
                  .row
                    .col-md-12.col-xs-4
                      .panel.panel-default
                        .panel-heading
                          %label{for: "labels"} Labels
                        .panel-body
                          %input.form-control#labels{type: "text"}
                    .col-md-12.col-xs-4
                      .panel.panel-default
                        .panel-heading
                          %label{for: "milestone"} Milestone
                        .panel-body
                          %input.form-control#milestone{type: "text"}
                    .col-md-12.col-xs-4
                      .panel.panel-default
                        .panel-heading
                          %label{for: "assignee"} Assignee
                        .panel-body
                          %input.form-control#assignee{type: "text"}
