!!!
%html
  %head
    %title Configuration
    %link{rel: "stylesheet", href: "../vendor/bootstrap/css/bootstrap.min.css"}
    %script{src: "../vendor/jquery/jquery.min.js"}
    %script{src: "../vendor/bootstrap/js/bootstrap.min.js"}
    %script{src: "../js/popup.js"}
  
  %body
    .container
      .row
        #repositories.list-group
